@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
:root {
    --VeryLightGray: hsl(0, 0%, 98%);
    --VeryLightGrayishBlue: hsl(236, 33%, 92%);
    --LightGrayishBlue: hsl(233, 11%, 84%);
    --DarkGrayishBlue: hsl(236, 9%, 61%);
    --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
    --CheckBackground: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    margin: 0;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

picture img {
    width: 100%;
}

.todo-container {
    width: 80%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 20%;
    right: 10%;
}

.todo-container span h2 {
    color: white;
    font-size: 20px;
}

#theme-toggle {
    opacity: 0;    
}

.label-theme-toggle {
    margin-top: 4.5%;
}

.input-container {
    top: 50%;
    position: absolute;
    right: 10%;
    width: 80%;
}

.input-container form {
    width: 100%;
    display: inline-flex;
}

.todo-input, .task-div{
    height:45px;
    width: 100%;
    border: 1px solid var(--VeryLightGrayishBlue);
    border-radius: 5px 0px 0px 5px;
    color: var(--DarkGrayishBlue);
    padding: 1% 3%;
    flex-grow: 4;
}

.labelRadio {
    flex-basis: 4;
    color: var(--VeryDarkGrayishBlue);
}

.task-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    border-radius: 5px;
    border: 1px solid var(--DarkGrayishBlue);
}

input[type = "checkbox"]{
    display: none;
}

.customCheck {
    flex-basis: 1;
    border-radius: 50%;
    border: 1px solid var(--DarkGrayishBlue);
    height: 60%;
    width: 4.5%;
    padding: 0.5% 2% 0.5% 1%;
}

.input-container form input:focus {
    color: black;
    outline: none;
}

.add-button {
    color: black;
    background-color: white;
    font-size: 15px;
    height: 45px;
    flex-grow: 1;
    border: 1px white solid;
    border-radius: 0px 5px 5px 0px;
}

.add-button:hover {
    background-image: var(--CheckBackground);
    color: white;
    transition: 0.1s ease;
}

.list-container {
    display: flex;
    flex-direction: column-reverse;
    background-color: transparent;
    position: absolute;
    top: 80%;
    border-radius: 5px;
    padding: 1%;
    right: 10%;
    width: 80%;
}

.btnDelete {
    background-color: white;
    border: none;
}

.completed {
    text-decoration: line-through;
    color: var(--LightGrayishBlue);
}

@media (min-width: 700px) {
    .todo-container,.input-container, .list-container{
        width: 40%;
        right: 30%;
    }
    
    .todo-container span h2 {
        font-size: 30px;
    }
    
    .label-theme-toggle {
        margin-top: 5.5%;
    }

}